:root {
  --white: white;
  --text-color: var(--white);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

body {
  background: url("https://images2.alphacoders.com/711/711450.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(3 6 7 / 36%);
  background-blend-mode: color-dodge;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(180deg, black, transparent);
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

header .version {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  margin: 0;
}

h1.page-title {
  margin: 0;
  text-align: center;
}

nav a {
  font-size: 1.25rem;
}